


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(141, 82, 82);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.solved-cube {
  margin: 70px;
  justify-content: center;

}

.scrambled-cube {
  margin: 70px;
  justify-content: center;

}


/* The Squares' Formatting */
.red-square {
  background-color: red;
  width: 100px;
  height: 100px;
}

.blue-square {  
  background-color: blue;
  width: 100px;
  height: 100px;
}

.white-square {
  background-color: white;
  width: 100px;
  height: 100px;
}

.green-square {
  background-color: green;
  width: 100px;
  height: 100px;
}

.yellow-square {
  background-color: yellow;
  width: 100px;
  height: 100px;
}

.orange-square {
  background-color: orange;
  width: 100px;
  height: 100px;
}

/*********************************/


.solve-container {
  text-align: center;
  padding: 20px;
}

.solve-button, .shuffle-button {
    /* text color changes */
  /* background-color of buttons changes */
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;

}

.shuffle-button-loading {
  background-color: rgb(110, 110, 110);
  border-radius: 15px;
  font-family: monospace;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;

}

.solution {
  margin: 30px;
  text-align: center;
  /* text color changes */
  font-family: monospace;
}

.footer {
  /* text color changes */
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
  font-family: monospace;
}


.text-dark {
  color: #dadada;
}

.text-light {
  color: #282c34;
}

.background-dark {
  background-color: #282c34;
}

.background-light {
  background-color: #dadada;
}